@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Finger+Paint&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 重置所有標籤的樣式 */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* inherit 繼承原本的設定 */
  vertical-align: baseline;
}

/* 重置字體文字樣式 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif; /* 自動抓瀏覽器無襯線字 */
  font-optical-sizing: auto; /* 字體光學尺寸 */
  line-height: 1.5; /* 設定行高 */
  letter-spacing: 2px;
}

/* 重置標題文字字重 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置ol,ul 標題樣式 */
ol, ul {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結樣式 */
a {
  display: block; /* 將a預設的inline改為block(區塊），才能設定間距跟寬高 inline不支援上下間距 */
  color: #222;
  text-decoration: none;
}

/* 重置區域結束 */
.custom-shake-h, .custom-shake-v, .custom-shake-t {
  display: inherit;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.custom-shake-h:hover, .shake-trigger:hover .custom-shake-h, .custom-shake-v:hover, .shake-trigger:hover .custom-shake-v, .custom-shake-t:hover, .shake-trigger:hover .custom-shake-t, .shake-freeze:hover,
.shake-trigger:hover .shake-freeze {
  animation-play-state: running;
}

.classCard .classTitle h3, .classCard .classPrice .classStoreName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* 全網站背景材質設定區 */
body {
  color: #303030;
  background-image: url(../images/background-textur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* 導覽列 */
#topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#topbar .logo {
  width: 232px;
}
#topbar .navigation {
  display: flex;
  align-items: center;
}
#topbar .navigation .search {
  margin-right: 36px;
}
#topbar .navigation .search li {
  background-image: url(../images/nav-search.svg);
  background-size: cover;
  padding: 12px 23px 10px 19px;
}
#topbar .navigation .search li a {
  display: flex;
  align-items: center;
}
#topbar .navigation .search li a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
#topbar .navigation .menu li {
  background-image: url(../images/nav-menu.svg);
  background-size: cover;
  padding: 15px 16px;
}
#topbar .navigation .menu li img {
  width: 34px;
  height: 34px;
}

/* 課程搜尋區塊 */
#SearchBanner {
  z-index: 5;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(127, 127, 127, 0.45), rgba(127, 127, 127, 0.45)), url(../images/banner-search.jpg);
  background-size: cover;
  background-position: 50% 50%;
  backdrop-filter: brightness(60%);
}
#SearchBanner h2 {
  color: #ffffff;
  font-size: 40px;
  margin-top: 24px 0;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}
#SearchBanner .engTitle {
  font-family: "Finger Paint", serif;
  font-size: 36px;
}
#SearchBanner .left-filled {
  position: absolute;
  top: 130px;
  left: 140px;
}
#SearchBanner .left-stroke {
  position: absolute;
  top: 220px;
  left: 90px;
}
#SearchBanner .left-tool {
  position: absolute;
  top: 140px;
  left: 224px;
}
#SearchBanner .right-filled {
  position: absolute;
  top: 200px;
  right: 100px;
}
#SearchBanner .right-stroke {
  position: absolute;
  top: 140px;
  right: 100px;
}
#SearchBanner .right-tool {
  position: absolute;
  top: 130px;
  right: 150px;
}

.searchSection {
  z-index: 5;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 64px 0 40px;
  padding: 27px 16px;
}
.searchSection figure {
  width: 38px;
  margin-right: 12px;
}
.searchSection .search-select {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.searchSection .search-select input {
  width: 20%;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: #3d3d3d;
  border: 1px solid #ADADAD;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.searchSection .search-select .select {
  font-size: 16px;
  position: relative;
  width: 24%;
  height: 48px;
  border: 1px solid #ADADAD;
  background-color: #ffffff;
  border-radius: 6px;
}
.searchSection .search-select .select .select-header {
  color: #838383;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4px 12px 12px;
  cursor: pointer;
}
.searchSection .search-select .select .select-header .arrowDown {
  width: 24px;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
.searchSection .search-select .select .select-header.active {
  color: #222222;
}
.searchSection .search-select .select .option-container {
  max-height: 200px;
  overflow: auto;
  display: none;
  background-color: #ffffff;
  border: 1px solid #ADADAD;
  border-top: 0px;
  width: calc(100% + 2px);
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 50;
  border-radius: 0 0 6px 6px;
}
.searchSection .search-select .select .option-container .select-option {
  padding: 12px;
  cursor: pointer;
}
.searchSection .search-select .select .option-container .select-option:hover {
  background-color: #483D3F;
  color: #ffffff;
}
.searchSection .search-select .select .option-container .select-option.active {
  background-color: #483D3F;
  color: #ffffff;
}
.searchSection .search-select .select.open {
  border-radius: 6px 6px 0 0;
  border-bottom: 0px;
}
.searchSection .search-select .select.open .arrowDown {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
.searchSection .search-select .select.open .option-container {
  display: block;
}
.searchSection .search-select .people {
  width: 32%;
}
.searchSection .search-select .people .select-header {
  color: #222222;
}
.searchSection .search-select .people .number-option {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.searchSection .search-select .people .number-option .label small {
  color: #5a5a5a;
  font-size: 14px;
}
.searchSection .search-select .people .number-option .number-input {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchSection .search-select .people .number-option .number-input input {
  width: 42px;
  height: 24px;
  text-align: center;
}
.searchSection .search-select .people .number-option .number-input button {
  font-size: 18px;
  width: 28px;
  height: 28px;
  border: none;
  line-height: 28px;
  border-radius: 100px;
  background-color: #FEEBBA;
  margin: 0 8px;
  cursor: pointer;
}
.searchSection .searchBtn {
  width: 130px;
  color: #ffffff;
  font-size: 16px;
  background-color: #483D3F;
  border: none;
  border-radius: 100px;
  margin-left: 8px;
  padding: 14px 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.searchSection .searchBtn:hover {
  background-color: #78686B;
}

@media (max-width:1023px) {
  #SearchBanner {
    height: 560px;
  }
  #SearchBanner h2 {
    font-size: 32px;
  }
  #SearchBanner .engTitle {
    font-size: 28px;
  }
  #SearchBanner .left-filled {
    width: 170px;
    top: 140px;
    left: 30px;
  }
  #SearchBanner .left-stroke {
    width: 110px;
    top: 220px;
    left: 20px;
  }
  #SearchBanner .left-tool {
    width: 130px;
    top: 160px;
    left: 110px;
  }
  #SearchBanner .right-filled {
    width: 220px;
    top: 200px;
    right: 80px;
  }
  #SearchBanner .right-stroke {
    width: 100px;
    top: 160px;
    right: 60px;
  }
  #SearchBanner .right-tool {
    width: 200px;
    top: 160px;
    right: 100px;
  }
  #SearchBanner .searchSection {
    padding: 27px 20px;
    flex-direction: column;
    align-items: center;
  }
  #SearchBanner .searchSection figure {
    display: none;
  }
  #SearchBanner .searchSection .search-select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 4px;
  }
  #SearchBanner .searchSection .search-select input {
    width: 100%;
  }
  #SearchBanner .searchSection .search-select .select {
    width: 100%;
  }
  #SearchBanner .searchSection .search-select .people .number-input input {
    width: 42px;
  }
  #SearchBanner .searchSection .searchBtn {
    margin: 16px 0 0;
    width: 100%;
  }
}
@media (max-width:640px) {
  #SearchBanner {
    height: 100vh;
  }
  #SearchBanner h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  #SearchBanner .engTitle {
    font-size: 24px;
    text-align: center;
  }
  #SearchBanner .left-filled {
    width: 120px;
    top: 28%;
    left: 5%;
  }
  #SearchBanner .left-stroke {
    width: 90px;
    top: 48%;
    left: 3%;
  }
  #SearchBanner .right-filled {
    width: 180px;
    top: 46%;
    right: 10px;
  }
  #SearchBanner .right-stroke {
    width: 90px;
    top: 30%;
    right: 5%;
  }
  #SearchBanner .left-tool {
    display: none;
  }
  #SearchBanner .right-tool {
    display: none;
  }
  #SearchBanner .searchSection .search-select {
    display: flex;
    flex-direction: column;
  }
}
/* 主要區塊背景泡泡設定 */
main {
  width: 100%;
  background-image: url(/images/BG-search.svg);
  background-size: 100% auto;
  background-position: top center;
  padding-bottom: 144px;
}

/* 課程列表篩選器 */
.allFilter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 20;
  padding-bottom: 20px;
}
.allFilter .filter {
  position: relative;
  width: 110px;
  height: 48px;
  border: 1px solid #D9D9D9;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
}
.allFilter .filter .select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}
.allFilter .filter .select-header .arrowDown {
  width: 24px;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
.allFilter .filter.open {
  border-radius: 24px 24px 0 0;
  border-bottom: 0px;
}
.allFilter .filter.open .arrowDown {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
.allFilter .filter.open .option-container {
  display: block;
}
.allFilter .classify .option-container {
  display: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid #D9D9D9;
  border-top: 0px;
  width: calc(100% + 2px);
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 20;
  border-radius: 0 0 24px 24px;
}
.allFilter .classify .option-container .select-option {
  padding: 24px;
}
.allFilter .classify .option-container .select-option div {
  display: flex;
  margin-top: 16px;
}
.allFilter .classify .option-container .select-option div .classify-content {
  border: #483D3F 1px solid;
  border-radius: 100px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}
.allFilter .classify .option-container .select-option div .classify-content.selected {
  background-color: #483D3F;
  color: #ffffff;
}
.allFilter .classify.open {
  background-color: #ffffff;
  width: 640px;
}
.allFilter .order .option-container {
  display: none;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-top: 0px;
  width: calc(100% + 2px);
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 20;
  overflow: hidden;
  border-radius: 0 0 24px 24px;
}
.allFilter .order .option-container .select-option {
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
.allFilter .order .option-container .select-option:hover {
  background-color: #483D3F;
  color: #ffffff;
}
.allFilter .order .option-container .select-option.active {
  background-color: #483D3F;
  color: #ffffff;
}
.allFilter .order.open {
  background-color: #ffffff;
}

@media (max-width:1023px) {
  .allFilter .classify .option-container .select-option {
    padding: 12px;
  }
  .allFilter .classify .option-container .select-option .price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6px;
  }
  .allFilter .classify.open {
    width: 400px;
  }
}
@media (max-width:640px) {
  .allFilter {
    font-size: 14px;
  }
  .allFilter .classify .option-container .select-option .classify-title {
    text-align: center;
  }
  .allFilter .classify .option-container .select-option div {
    justify-content: center;
  }
  .allFilter .classify .option-container .select-option .price {
    display: flex;
    flex-direction: column;
  }
  .allFilter .classify .option-container .select-option .price .classify-content {
    text-align: center;
    padding: 8px;
    margin-right: 0px;
    width: 100%;
  }
  .allFilter .classify .option-container .select-option .duration {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  .allFilter .classify .option-container .select-option .duration .classify-content {
    text-align: center;
    padding: 8px;
    width: 100%;
  }
  .allFilter .classify.open {
    width: 180px;
  }
}
/* 共用課程列表區 */
.courseSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courseSection .listTitle {
  margin-bottom: 64px;
}
.courseSection .listTitle img {
  height: 42px;
}

.classList {
  width: 80%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 8%;
  row-gap: 80px;
}

.classCard {
  position: relative;
  width: 100%;
  height: auto;
}
.classCard div {
  display: flex;
  justify-content: space-between;
}
.classCard .classPhoto {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  clip-path: polygon(47% 0, 76% 0, 100% 0, 100% 66%, 100% 100%, 41% 100%, 0 100%, 0 66%, 0 29%, 0 0);
  transition: clip-path 0.5s ease;
  /* 設定平滑過渡 */
}
.classCard .classPhoto .tagHotorNew {
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.classCard .classPhoto .tagHotorNew img {
  width: 52px;
}
.classCard .classPhoto .photo {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.classCard .classPhoto p {
  font-family: "Braah One", serif;
  color: #F0E4C6;
  font-size: 18px;
  font-weight: 400;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.6);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.classCard .classPhoto p img {
  width: 24px;
}
.classCard .classTag {
  margin: 20px 0;
  justify-content: left;
}
.classCard .classTag p {
  color: #ffffff;
  font-size: 13px;
  margin-right: 12px;
}
.classCard .classTag .classLevel {
  background-image: url(../images/tag-level.svg);
  padding: 7px 16px 8px;
}
.classCard .classTag .classTime {
  background-image: url(../images/tag-time.svg);
  padding: 5px 17.5px 4px 13px;
}
.classCard .classTitle {
  align-items: start;
  margin-bottom: 24px;
  height: 56px;
}
.classCard .classTitle h3 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 4px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.classCard .classTitle h3 a {
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
.classCard .classTitle h3 a:hover {
  color: #565656;
  border-bottom: 2px solid #B07662;
}
.classCard .classTitle img {
  width: 24px;
}
.classCard .classPrice {
  align-items: center;
  height: 34px;
}
.classCard .classPrice .classStoreName {
  color: #5a5a5a;
  font-size: 16px;
  width: 130px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.classCard .classPrice .classStoreName a {
  transition: all 0.5s ease-in-out;
}
.classCard .classPrice .classStoreName a:hover {
  color: #939393;
}
.classCard .classPrice .price {
  color: #483D3F;
  font-size: 22px;
}
.classCard:hover .classPhoto {
  clip-path: polygon(40% 0, 73% 4%, 92% 33%, 89% 75%, 77% 94%, 48% 100%, 17% 95%, 6% 76%, 5% 39%, 15% 10%);
}
.classCard:hover .classPhoto:hover p {
  opacity: 1;
}
.classCard:hover .classPhoto:hover p img {
  animation: moveArrow 0.6s ease-in-out infinite alternate;
}
.classCard:hover .tagHotorNew {
  opacity: 0;
}

.icons-heart {
  width: 24px;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
}
.icons-heart #heartstrike1 {
  display: flex;
}
.icons-heart #heartstrike1.click-h {
  display: none;
}
.icons-heart #heartfill1 {
  display: none;
}
.icons-heart #heartfill1.click-h {
  display: flex;
  width: 23px;
}
.icons-heart #heartstrike2 {
  display: flex;
}
.icons-heart #heartstrike2.click-h {
  display: none;
}
.icons-heart #heartfill2 {
  display: none;
}
.icons-heart #heartfill2.click-h {
  display: flex;
  width: 23px;
}
.icons-heart #heartstrike3 {
  display: flex;
}
.icons-heart #heartstrike3.click-h {
  display: none;
}
.icons-heart #heartfill3 {
  display: none;
}
.icons-heart #heartfill3.click-h {
  display: flex;
  width: 23px;
}
.icons-heart #heartstrike4 {
  display: flex;
}
.icons-heart #heartstrike4.click-h {
  display: none;
}
.icons-heart #heartfill4 {
  display: none;
}
.icons-heart #heartfill4.click-h {
  display: flex;
  width: 23px;
}
.icons-heart #heartstrike5 {
  display: flex;
}
.icons-heart #heartstrike5.click-h {
  display: none;
}
.icons-heart #heartfill5 {
  display: none;
}
.icons-heart #heartfill5.click-h {
  display: flex;
  width: 23px;
}
.icons-heart #heartstrike6 {
  display: flex;
}
.icons-heart #heartstrike6.click-h {
  display: none;
}
.icons-heart #heartfill6 {
  display: none;
}
.icons-heart #heartfill6.click-h {
  display: flex;
  width: 23px;
}
.icons-heart:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-image: url(./images/icons-heart-hover.svg);
  background-size: cover;
}

@media (max-width:1023px) {
  .classList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:640px) {
  .classList {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* seemore 按鈕 */
.seemore-btn {
  font-family: "Braah One", serif;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #483D3F;
  padding: 0 40px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
.seemore-btn .arr {
  margin-left: 65px;
  position: relative;
  z-index: 10;
}
.seemore-btn:hover .ball {
  transition: 0.8s;
  filter: hue-rotate(30deg) brightness(140%);
  transform: translateX(85px);
}
.seemore-btn.shot .ball {
  filter: hue-rotate(30deg) brightness(140%);
  transition: 0.7s cubic-bezier(0.3, 1.77, 0.36, 0.69);
  transform: translateX(150px);
}
.seemore-btn.shot .transform-delay {
  transition: 0.4s;
  transform: translateX(65px);
}
.seemore-btn.shot .transform-delay2 {
  transition: 0.3s;
  opacity: 0;
}
.seemore-btn span {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-left: 15px;
}

/* 搜尋後沒有結果 */
.noresult {
  font-size: 20px;
}

/* 頁尾區 */
footer {
  background-color: #483D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-bgDeco {
  position: relative;
  width: 100%;
  height: 100%;
}
footer .footer-bgDeco img {
  position: absolute;
  bottom: -1px;
}
footer .foot-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2% 5%;
}
footer .foot-content img {
  width: 338px;
  height: 72px;
}
footer .menu {
  display: flex;
  text-align: center;
}
footer .menu > li {
  width: 6rem;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
}
footer .menu > li ul {
  margin: 15px 0;
}
footer .menu > li ul > li {
  padding: 4px 0;
}
footer a,
footer li,
footer small {
  color: white;
}
footer small {
  margin-bottom: 50px;
  font-size: 0.8rem;
}

/*頁尾區-平板*/
@media (max-width:1023px) {
  footer .foot-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .foot-content .menu {
    margin-top: 40px;
  }
}
/* 頁尾區-手機 */
@media (max-width:640px) {
  footer {
    display: none;
  }
}
/* csshake 自訂義抖動效果 */
@keyframes custom-shake-h {
  20% {
    transform: translate(-10.5px, 2.5px) rotate(-1.5deg);
  }
  40% {
    transform: translate(5.5px, 0.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(-8.5px, 0.5px) rotate(1.5deg);
  }
  80% {
    transform: translate(-7.5px, 1.5px) rotate(-1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
.custom-shake-h:hover, .shake-trigger:hover .custom-shake-h, .custom-shake-h.shake-freeze, .custom-shake-h.shake-constant {
  animation-name: custom-shake-h;
  animation-duration: 5500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes custom-shake-v {
  20% {
    transform: translate(1px, 12px) rotate(1.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-1px, 3px) rotate(-1.5deg);
  }
  80% {
    transform: translate(-2px, -9px) rotate(-0.5deg);
  }
  0%, 90%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
.custom-shake-v:hover, .shake-trigger:hover .custom-shake-v, .custom-shake-v.shake-freeze, .custom-shake-v.shake-constant {
  animation-name: custom-shake-v;
  animation-duration: 5000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes custom-shake-t {
  20% {
    transform: translate(1.5px, 8px) rotate(0deg);
  }
  40% {
    transform: translate(2.5px, -4px) rotate(3deg);
  }
  60% {
    transform: translate(-0.5px, 8px) rotate(6deg);
  }
  80% {
    transform: translate(2.5px, 5px) rotate(0deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
.custom-shake-t:hover, .shake-trigger:hover .custom-shake-t, .custom-shake-t.shake-freeze, .custom-shake-t.shake-constant {
  animation-name: custom-shake-t;
  animation-duration: 6000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}/*# sourceMappingURL=App.css.map */