//間距
$interval-xs:8px;
$interval-s:10px;
$interval-m:16px;
$interval-l:20px;
$interval-xl:24px;
$interval-xxl:40px;
$interval-xxl:60px;
$interval-x-s:0 10px;
$interval-x-m:0 16px;
$interval-y-xs:8px 0 ;
$interval-xy-s:10px 20px;
$interval-xy-l:20px 50px;




// 速率
$speed-fast:.35s;
$speed-medium:.5s;


// 特效
$text-shadow-gray: 0px 0px 3px  gray;


// 字級
$font-size-xs:.7rem;
$font-size-s:.8rem;
$font-size-m:1rem;
$font-size-l:1.2rem;
$font-size-xl:1.4rem;
$font-size-xxl:1.8rem;
$font-size-xxxl:2rem;


// 字重
$font-weight-m: bold;
$font-weight-light:100;
$font-weight-regular:400;
$font-weight-bold:700;


// 圓角
$border-r-xs:4px;
$border-r-s:8px;
$border-r-m:10px;
$border-r-l:16px;


//RWD斷點
$mediaSm:'max-width:640px';
$mediaSmUp:'min-width:641px'; //非手機版時的樣式(手機版和桌機版完全不同樣式的時候使用)
$mediaMd:'max-width:1023px';
$mediaMdUp: 'min-width:1025px';
$mediaMdDown: 'max-width:1024px';
$mediaLg:'min-width:1024px';

